.logo-region {
    width:18%;
    height:40%;
    top: 0;
    right: 0;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;

}

.logo-region img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    text-align: top;
    align-items: center;
}